gradio_imageslider
gradio==4.29.0
matplotlib
opencv-python
torch
torchvision
pytorch
nvidia
condaforge
cuda=12.0.140
h5py=3.7.0
matplotlib=3.10.8
matplotlibbase=3.6.2
numpy=1.26.4
opencv=4.11.0.86
pip=25.3
python=3.10.19
pytorch=1.13.1
pynput=1.8.1
pytorchcuda=11.7
pytorchmutex=1.0
scipy=1.15.3
torchaudio=0.13.1
torchvision=0.25.0
ffmpeg=5.1.2
huggingfacehub==0.11.1
timm==1.0.19
tqdm==4.64.1
wandb==0.13.9
open3d==0.19.0
Pillow==10.4.0
pynput==1.7.6
PyYAML==5.4.1
trimesh==3.22.1
